$main-colour: white;

body {
  display: flex;
  margin: auto;
  justify-content: center;
  background-color: black;
  color: $main-colour;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(150deg, rgba(141, 1, 1, 1), rgba(0, 6, 58, 1));
}
