$main-colour: white;

body {
  display: flex;
  margin: auto;
  justify-content: center;
  background-color: black;
  color: $main-colour;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}
